# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Model & large files
models/
audio/
*.mp3
*.wav
*.zip

# Dataset (optional - remove if you want to upload)
# dataset/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/
